.navbar2 {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 20%;
    overflow: hidden;
    background-color: #333;
    position: inherit;
    top: 0;
    width: 100%;
    text-align: center;



}

.ti2{
    font-size: 18px;

    padding-left: 2%;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
}