.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;


}

.ti{
    font-size: 32px;
    float:left;
    padding-left: 2%;
    color: #ffffff;
    font-style: italic;
    font-weight: 900;
}


/*.navbar a:hover {
    background: #ddd;
    color: black;
    opacity:1;
}*/
.sllogo{
    padding-left: 0px;
    width: 4%;
    float: left;
}

.singBut {
    font-size: 20px;
    font-weight: 900;
    float: right;
    padding-top: 10%;
    -moz-box-shadow:inset 0px 1px 0px 0px #11f50a;
    -webkit-box-shadow:inset 0px 1px 0px 0px #11f50a;
    box-shadow:inset 0px 1px 0px 0px #11f50a;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #05f505), color-stop(1, #000305));
    background:-moz-linear-gradient(top, #05f505 5%, #000305 100%);
    background:-webkit-linear-gradient(top, #05f505 5%, #000305 100%);
    background:-o-linear-gradient(top, #05f505 5%, #000305 100%);
    background:-ms-linear-gradient(top, #05f505 5%, #000305 100%);
    background:linear-gradient(to bottom, #05f505 5%, #000305 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#05f505', endColorstr='#000305',GradientType=0);
    background-color:#05f505;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #00060a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:12px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000103;
}
.singBut:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000305), color-stop(1, #05f505));
    background:-moz-linear-gradient(top, #000305 5%, #05f505 100%);
    background:-webkit-linear-gradient(top, #000305 5%, #05f505 100%);
    background:-o-linear-gradient(top, #000305 5%, #05f505 100%);
    background:-ms-linear-gradient(top, #000305 5%, #05f505 100%);
    background:linear-gradient(to bottom, #000305 5%, #05f505 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000305', endColorstr='#05f505',GradientType=0);
    background-color:#000305;
}
.singBut:active {
    position:relative;
    top:1px;
}